[Desktop Entry]
Type=Application
Name=Burst
GenericName=Application Launcher
Comment=Fast application launcher for Hyprland
Exec=burst-launch
Icon=system-run
Terminal=false
Categories=Utility;System;
StartupWMClass=burst
Keywords=launcher;run;
